<nav class="navigation">
  <div class="ui secondary menu">
    <div class="ui container">
      <div class="left menu">
        <a class="item" routerLink="/" >Angular PM</a>
      </div>
      <div class="right menu">
        <ng-container *ngIf="userIsLoggedIn; else elseTemplate">
          <a href="" routerLink="/projects/" class="item">Projects</a>
          <a href="" class="item" routerLink="/profile">Profile</a>
          <a href="" class="item" routerLink="/clients">Clients</a>
          <a href="" routerLink="/logout/" class="item" (click)="logoutUser()">Logout</a>
          
        </ng-container>
        <ng-template #elseTemplate>
          <a href="" routerLink="/login/" class="item">Login</a>
        </ng-template>
        
        
      </div>
    </div>
  </div>
    <simple-notifications [options]="notificationOptions"></simple-notifications>

</nav>