<div class="ui active modal new-project-modal" [ngClass]="{'active': isOpen}">
  <div class="header">
    New project
  </div>
  <div class="content">
    <form #form="ngForm"  class="ui form">
      <div class="ui grid">
        <div class="ten wide column">
          <div class="field">
            <label for="project-name">Project name</label>
            <input id="project-name" [(ngModel)]="project.name" #name="ngModel" name="name" required minlength="1" type="text">
              <app-message  
              [hidden]="name.valid || (name.pristine && form.submitted)">
              <p>Name is required (at least one character).</p>
            </app-message>
          </div>
        </div>
        <div class="four wide column">
          <div class="inline field">
            <label for="client-selection">Client</label>
            <select [(ngModel)]="selectedClientId" name="client-selection" id="client-selection">
              <option selected *ngIf="clients.length < 1" disabled [value]="null">No clients available</option>
              <option *ngIf="clients.length > 0 " [ngValue]="null">No client</option>
              <option *ngFor="let client of clients" [ngValue]="client.id">
                {{ client.name }}
              </option>
            </select>
            <button (click)="openNewClientModal()" class="ui basic button">Create new client</button>
          </div>
        </div>  
      </div>
      <div class="field">
        <label for="project-description">Description</label>
        <textarea [(ngModel)]="project.description" #description="ngModel" required minlength="1" name="description" id="project-description" cols="30" rows="5"></textarea>
        <app-message [hidden]="description.valid || (description.pristine && form.submitted)">
          <p>Description is required (at least one character)</p>
        </app-message>
      </div>
    </form>
  </div>
  <div class="actions">
    <button (click)="closeModal()" class="ui grey cancel button">
      Cancel
    </button>
    <button type="submit" (click)="createProject()" class="ui green approve button" [disabled]="!form.valid">
      Create
    </button>
  </div>
</div>