<div class="ui basic segment task">
  <div class="task__status">
  <div class="current-status">
    <div class="ui icon button" (click)="changeTaskStatus(task.status)" [attr.data-tooltip]="task.status" [class.yellow]="task.status === 'In progress'"
      [class.green]="task.status === 'Completed'">
      <i class="checkmark icon"></i>
    </div>
  </div>
  </div>
  <div class="task__details">
    <h4 class="task__title">
      {{ task.title }}
    </h4>
    <p class="task__due">
      Due {{ task.due | date}}
    </p>
    <p *ngIf="task.description" class="task__description">
      {{ task.description}}
    </p>
    <p class="task__author">
      Author: {{ task.author.firstName }} {{ task.author.lastName}}
    </p>
  </div>

  <div class="task__actions">
    <button (click)="deleteTask()" class="ui red mini button">
      <i class="trash icon"></i>
      Delete
    </button>
  </div>
</div>

<app-comments-list [taskId]="task.id">
</app-comments-list>