<div class="ui basic segment task">
    <h4 class="header">
      {{ task.title }}
    </h4>
    <p>
      {{ task.description }}
    </p>
    <div class="footer">
      <span>Due date: {{ task.due }} </span>
      <div>
        <a class="show-comments" (click)="toggleComments()">Show {{task.comments.length }} comments</a>
      </div>
    </div>
</div>
<div class="ui divider">
  
</div>
<app-comments-list [taskId]="task.id" [comments]="task.comments" *ngIf="commentsActive">
</app-comments-list>