<div class="ui basic segment task">
    <div class="header task__header">
      <h4>
        {{ task.title }}
      </h4>
      <div class="task__actions">
        <div class="current-status">
          <div class="ui icon button" (click)="changeTaskStatus(task.status)" [attr.data-tooltip]="task.status" [class.yellow]="task.status === 'In progress'" [class.green]="task.status === 'Completed'">
            <i class="checkmark icon"></i>
          </div>
        </div>
        <button (click)="deleteTask()" class="ui red mini button">
          <i class="trash icon"></i>
          Delete
        </button>
      </div>
    </div>
    <div class="task__details">
      <p class="task__due">
        Due {{ task.due | date}}
      </p>
      <p class="task__description">
        {{ task.description}} 
      </p>
    </div>

    <div class="footer">
      <p class="task__author">
        Author: {{ task.author.firstName }} {{ task.author.lastName}}
      </p>
    </div>
</div>
<div class="ui divider">
  
</div>
<app-comments-list [taskId]="task.id">
</app-comments-list>