.task {
  margin-bottom: 15px !important;
}


.task__header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.task__actions {
  display: flex;
  
}
.task__due {
  margin-top: 5px;
  color: #555;
}
.task__author {
  margin-top: 30px;
  color: #888;
  font-size: .9rem;
}