.task {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.task__details {
  flex-basis: 50%;
  flex-grow: 1;
}

.task__status {
  flex-basis: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.task__title {
  font-size: 1.2rem;
  margin-bottom: 0;
}

.task__due {
  color :#555;
  font-size: .8rem;
  margin-top: 0;
}
.task__description {
  font-size: 1.1rem;
}
.task__author {
  font-size: .9rem;
  color: #888;
}