<div class="projectslist">
  
  <div class="ui centered inline text loader" [ngClass]="{'active': projects.length < 1}"></div>
  <h1 class="projectlist__header">Your projects</h1>
  <app-project-filter></app-project-filter>
  <div class="ui grid projectlist">
    <app-project [project]="project" *ngFor="let project of projects"></app-project>
  </div>
  <button class="ui purple button" (click)="openNewProjectModal()">Create new project</button>
   <app-new-project-modal></app-new-project-modal>
   <app-edit-project-modal></app-edit-project-modal>
</div>