.project {
  margin-bottom: 50px !important;
}
.project__header {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-bottom: 25px;
}
.project__name {
  font-size: 1.2rem;
  text-transform: capitalize;
}

.borderless {
  border: none !important;
  box-shadow: none;
}