<div class="ui project" [class.segment]="!onlyDescription" [class.card]="onlyDescription" >
  <div class="content">
    <div class="header project__header">
      <a class="project__name" href="" routerLink="{{ '/projects/' + project.id }}">{{ project.name }}</a>
      <div class="ui borderless compact menu">
        <div class="ui simple dropdown item">
          <div></div>
          <i class="ellipsis vertical icon"></i>
          <div class="menu">
            <div class="item" (click)="editProject()">Edit</div>
            <div class="item" (click)="showDeleteProjectModal()">Delete</div>
          </div>
        </div>
      </div>
    </div>
      <div class="meta">
        <span class="project__meta project__client" *ngIf="project.client !== null">
          Client: {{ project.client.name }}
        </span>
      </div>
      <div class="description">
        <p class="project__description">
          {{ project.description }}
        </p>
      </div>

      <div class="footer">
        <span class="project__meta project__date">
          Created by {{ project.author.firstName }} {{ project.author.lastName }} on {{ project.createdAt | date }}
        </span>
      </div>
    </div>
</div>
<app-tasklist [projectId]="project.id" *ngIf="!onlyDescription">
</app-tasklist>

<div class="ui mini modal" [class.active]="isDeleteProjectModalActive">
  <div class="ui header">
    <i class="trash icon"></i>
    Delete project
  </div>
  <div class="content">
    <p>Are you sure you want to delete project {{ project.name }}?</p>
  </div>
  <div class="actions">
    <div class="ui basic button" (click)="closeDeleteProjectModal()">
      No
    </div>
    <div class="ui green basic button" (click)="deleteProject()">
      <i class="checkmark icon"> 
      </i>
       Yes
    </div>
  </div>
</div>