<div class="ui card project">
  <div class="content">
    <div class="header project__header">
      <p>id {{ project.id }}</p>
      <a class="project__name" href="" routerLink="{{ '/projects/' + project.id }}">{{ project.name }}</a>
      <i (click)="editProject()" class="options icon"></i>
    </div>
    <div class="meta">
      <div class="description project__description">
        {{ project.description }}
      </div>
    </div>
  </div>
  <app-tasklist [tasks]="tasks" *ngIf="tasks && !onlyDescription">
  </app-tasklist>
  <button *ngIf="!onlyDescription" (click)="openNewTaskModal()" class="ui small button">
    Add task
  </button>
</div>