.user-profile__header {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
}

.user-profile__field {
  margin-bottom: 20px;
}

.user-profile {
  padding-bottom: 100px;
}