<div class="project-filters" [class.visible]="filtersVisible">
  <div class="project-filters__left-container" *ngIf="filtersVisible">
    <p class="project-filters__header">Filter by:</p>
    <div class="project-filters__filters">
      <form class="ui project-filters__form form">
       <div class="ui inline field">
          <div class="ui icon input">
            <label for="project-name">Title</label>
            <input [(ngModel)]="projectName" (input)="submitProjectsFilter()" name="project-name" type="text" >
            <i *ngIf="!isProjectNameEmpty()" class="circular remove link icon"
            (click)="clearProjectName()"></i>
          </div>
        </div>
        <div class="ui inline field">
          <label for="client-filter">Client</label>
          <select (change)="submitClientFilter()" [(ngModel)]="selectedClientId" name="client-filter" id="client-filter">
            <option selected [ngValue]="''">All clients</option>
            <option *ngFor="let client of clients" [ngValue]="client.id">{{ client.name }}</option>
          </select>
        </div>

      </form>
      <!-- <button class="ui green button project-filters__submit" (click)="submitProjectsFilter()" [disabled]="isProjectNameEmpty()">Filter</button> -->
    </div>
  </div>
  <button title="Toggle filters" (click)="toggleFiltersVisibility()" class="ui blue button" [class.basic]="!filtersVisible">
    <i class="options icon"></i>
  </button>
</div>