<div [ngClass]="{'active': isOpen}" class="ui active modal new-task-modal">
  <div class="header">
    New task
  </div>
  <div class="content">
    <form #form="ngForm" class="ui form">
      <div class="field">
        <label for="task-name">Task name</label>
        <input type="text" id="task-name" #name="ngModel" required minlength="1"
        [(ngModel)]="task.name">
          <app-message [hidden]="name.valid || (name.pristine && form.submitted)">
            <p>Name is required (at least one character).</p>
          </app-message>
      </div>
      <div class="field">
        <label for="task-description">Description</label>
        <textarea [(ngModel)]="task.description" #description="ngModel" required minlength="1" name="description" id="task-description"
          cols="30" rows="5"></textarea>
        <app-message [hidden]="description.valid || (description.pristine && form.submitted)">
          <p>Description is required (at least one character)</p>
        </app-message>
      </div>
    </form>
  </div>
  <div class="actions">
    <button (click)="closeModal()" class="ui grey cancel button">
      Cancel
    </button>
    <button type="submit" (click)="createTask()" class="ui green approve button" [disabled]="!form.valid">
      Create
    </button>
  </div>
</div>