.user-form__container {
  padding: 15px;
  min-height: 300px;
  width: 400px;
  margin: 0 auto;
  margin-bottom: 80px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .16);
}
.header.active {
  text-decoration: underline;
  color: black;
}