  <h2 class="tasks__header">
    <span class="tasks__number">{{ tasks.length }} tasks</span>
    <span>
      <button *ngIf="!onlyDescription" (click)="openNewTaskModal()" class="ui small green button">
        Add task
      </button>
    </span>
  </h2>
  <div class="tasks-list">
    <div *ngFor="let task of tasks;">
      <app-task (onDeleteTaskIntent)="deleteTask($event)" [task]="task"></app-task>
    </div>
  </div>
  <div class="ui small modal" [class.active]="isDeleteTaskModalActive">
    <div class="header">Delete modal</div>
    <div class="content"><p>Are you sure you want to delete task "{{ taskToDelete.title }}" ?</p></div>
    <div class="actions">
      <button class="ui button" (click)="isDeleteTaskModalActive = false">Cancel</button>
      <button class="ui green button" (click)="confirmTaskDeletion()">Yes</button>
    </div>
  </div>