/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Catamaran:400,700');
@import './semantic.min.css';
html {
   background: rgb(6, 13, 15);
   height: auto !important;
}
body {
  font-family: "Catamaran";
  padding-top: 80px;
  height: auto !important
}