<div class="comment">
  <div class="content">
    <a class="author">
      {{ comment.author.firstName }} {{ comment.author.lastName }}
    </a>
    <div class="metadata">
      <span class="date">{{ comment.createdAt }}</span>
    </div>
    <div class="text">
      <p class="comment__content">
        {{ comment.content }}
      </p>
    </div>
    <div class="actions">
      <span title="Like comment" (click)="likeComment()" class="comment__like">
      <i class="red like icon"></i>{{ comment.likes }}</span>
      <button *ngIf="comment.own" (click)="isDeleteCommentModalActive = true" href="" class="ui basic negative tiny button comment__delete">Delete</button>
      <!-- <span (click)="toggleReplyForm()"> Reply </span>

      <form id="reply-form" *ngIf="isReplyActive">
        <div class="field">
          <div class="ui inline input">
            <input type="text" name="reply" [(ngModel)]="replyText">
            <button (click)="submitReply()" class="ui green button">
              Submit
            </button>
          </div>
        </div>
      </form> -->
    </div>
  </div>
  <div class="ui small modal" [class.active]="isDeleteCommentModalActive">
    <div class="header">
      Delete comment
    </div>
    <div class="content">
      <p>Are you sure you want to delete your comment?</p>
    </div>
    <div class="actions">
      <button class="ui cancel button" (click)="isDeleteCommentModalActive = false">Cancel</button>
      <button class="ui negative button" (click)="deleteComment()" >Delete</button>
    </div>
  </div>
</div>